header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px var(--Grey-);
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header nav h1 {
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    transition: ease-in-out 0.5s;
    font-family: 'Averia Sans Libre', sans-serif;
}

header nav img {
    width: 70px;
    height: 70px;
    transition: ease-in-out 0.5s;
}

header nav img:hover {
    transform: rotate(180deg);
}

header nav a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    color: black;
}

header nav ul {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

header nav ul li {
    font-size: clamp(1.2rem, 3vw, 2rem);
    transition: ease-in-out 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    color: black;
    height: 60px;
}

header nav ul li:hover {
    background-color: #fff;
    color: rgb(0, 26, 255);
}

header nav h1:hover {
    color: rgb(0, 26, 255)
}