@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 20px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fieldset {
    width: 50%;
    display: flex;
    padding: 2%;
    justify-content: center;
}

fieldset {
    min-height: 300px;
    min-width: 600px;
    background-color: #EDBE17;
}

legend {
    background-color: #17ed77;
    color: white;
    padding: 10px 300px;
}

input {
    border: 2px solid #000000;
    font: 25px "Open Sans", sans-serif;
    border-radius: 20px;
    text-align: center;
    color: #000000;
    width: 100%;
    margin-bottom: 15%;
}

button {
    border-radius: 20px;
    margin: 15px;
}